/* 
   Adriano Alves
   Mar 03 2019
   css file used to change some styles

---------------------------------------------------------------------------------
Organized:
First the Element Selectors, Second the Class Selectors  (Alphabetic orther)
---------------------------------------------------------------------------------
*/

/***********************************************************/
/* * * * * * * * * Element Selectors * * * * * * * * * * * */
/***********************************************************/
/* Body */
body{
    /* font required */
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /* color required */
    color: #777777;
    /* boder-color required */
    border-color: #dddddd;
    /* eliminate marging arround top */
    margin: 0;
    /* background required */
    background-image: url("../images/vintage-concrete.png");
}
/* Icons */
i {
    font-size: 3em;
    /* color: black; */
}
/* Text label for icon */
i span {
    display:block;
    font-size: 0.5em; 
    color: black;
    text-align: right;
}
/* Paragraph */
p{
    line-height: 1.25;
}
/***********************************************************/
/* * * * * * * * * * * Class Selectors * * * * * * * * * * */
/***********************************************************/
/*  Absolute Position */
/* used to set position to absolute */
.absolute{
    position: absolute;
    bottom: 5%;
}
/* background */
.bg-required{
    background-color: #4aaaa5;
}
/* Container width */
.content-width{
    width: 960px;
}
/* nameLogoBox */
/* used to make the logo right justify and add background color */
.nameLogoBox{
    background-color: #4aaaa5;
    height: 70px;
    width: 270px;
}
/* *************************************************************** */
/* * * * * * * * * * * * * * * MEDIA * * * * * * * * * * * * * * * */
/* *************************************************************** */
@media (max-width: 768px){
    .w-25 {
        width: 90%!important;
    }
    div.content-width{
        width: 90%;
    }
}
