

/********* Body *********/
body{
    /* font required */
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /* color required */
    color: #777777;
    /* boder-color required */
    border-color: #dddddd;
    /* eliminate marging arround top */
    margin: 0;
    /* background required */
    background-image: url("../images/vintage-concrete.png");
}

p{
    line-height: 1.25;
}

/* .footer{
    position: fixed;
    bottom: 0;
} */
/******** nameLogoBox ********/
/* used to make the logo right justify and add background color */
.nameLogoBox{
    background-color: #4aaaa5;
    height: 70px;
    width: 270px;
    /* left: 0; */
}

.bg-required{
    background-color: #4aaaa5;
}

.content-width{
    width: 960px;
}

/******** Absolute Position ********/
/* used to set position to absolute */
.absolute{
    position: absolute;
    bottom: 5%;
}
